body{
    background-color: lightslategray;
}
/*This is how you do comments in css. Different coding languages have different ways of communicating*/

/*This will target all paragraphs*/
p{
    color: antiquewhite; /*color means text color*/
}
h1,h2,h3{
    color: rgb(255, 111, 135);
}
